@import "~bootstrap/scss/bootstrap";
@import "./posts.scss";
@import "./like.scss";

.-nav-active {
  color: white !important;
}

.-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.form-container {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .err-page {
    font-size: 20px;
    color: darkred;
    font-weight: bold;
    text-align: center;
  }
}
