.post-form {
  display: flex;
  align-items: center;

  .post-card {
    margin-right: 50px;
  }

  .dropdown {
    &.input-group-prepend {
      margin-bottom: 16px;

      button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          margin-top: 3px;
        }
      }
    }
  }
}

.post-list-container {
  padding: 30px 0;

  .search-post {
    width: 288px;
    margin: 0 auto;
  }

  .post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 0;

    .post-card {
      margin-bottom: 20px;

      & > div {
        height: 334.8px;

        .card-title,
        .card-text {
          word-wrap: normal;
          overflow: hidden;
          height: 30px;
        }
      }
    }
  }
}

.post-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  position: relative;

  button {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }
  }
}
